# Set the default namespace for the folder
TARGET_NAMESPACE="istio-system"
echo "Switching to namespace: $TARGET_NAMESPACE"
kubectl config set-context --current --namespace=$TARGET_NAMESPACE

echo "Active namespace: $TARGET_NAMESPACE"